{% macro render_header() %}
{% set section = get_section(path="_index.md") %}
<div>
    <a class="header_logo" href="{{ section.permalink }}">
        <div class="logo">
            <img src="{{ get_url(path=config.extra.logo_path) }}" alt="logo">
            {{ config.title }}
        </div>
    </a>

    <div class="topnav">
        <div id="myLinks">
            {% if config.extra.nav_menu %}
                {% for menu in config.extra.nav_menu %}
                <a href="{{ menu.link }}">{{ menu.title }}</a>
                {% endfor %}
            {% endif %}
        </div>
        <a href="javascript:void(0);" class="icon" onclick="topNavClick()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<nav>
    {% if config.extra.nav_menu %}
        {% for menu in config.extra.nav_menu %}
        <a class="nav-item subtitle-text" href="{{ menu.link }}">{{ menu.title }}</a>
        {% endfor %}
    {% endif %}
</nav>

<script>
    function topNavClick() {
    var links = document.getElementById("myLinks");
    var topnav = links.parentElement;
    if (links.style.display === "block") {
        links.style.display = "none";
        topnav.classList.remove("topnav_active");
    } else {
        links.style.display = "block"
        topnav.classList.add("topnav_active");
    }
    }
</script>
{% endmacro render_header %}